.App {
  text-align: center;
}

.form-control:disabled {
  background-color: white;
}

.container {
  max-width: 1000px;
}

.my-textarea {
  height: 200px;
  margin-bottom: 12px
}

.btn {
  margin: 5px;
}

.select {
  margin-top: 10px;
}

.btn-primary {
  background-color: rgb(64, 127, 209);
  border-color: rgb(64, 127, 209);
  font-size: medium;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: rgb(50, 92, 146);
  border-color: rgb(50, 92, 146);
}

.form-control:focus, .form-select:focus {
  box-shadow: 0 0 10px #719ECE;
}

.my-button {
  margin: 0px;
  font-size: small;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block;
}

.flashcard {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  min-height: 275px;
}

.flashcard:hover {
  border-color: rgb(50, 92, 146);
  box-shadow: 0 0 10px #719ECE;
  border: 1px solid lightgray;
}

.f-true, .f-false {
  margin: 10px;
  padding: 5px;
}

.flashcard-text-main {
  font-size: x-large;
  align-self: center;
  padding: 15px;
}

.f-true {
  font-weight: 600;
}

.f-numbers {
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
}

.h20 {
  height: 20%;
}

.h80 {
  height: 80%;
}

.my-col {
  padding-bottom: 2rem;
}